:root {
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
  --GREY: rgba(46, 47, 66, 0.7);
  --WHITE: #fff;
  --DAIRY: #fcfcfc;
}

body {
  color: var(--SLATE);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--WHITE);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  padding: 0;
  max-width: 100%;
  display: block;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.picture {
  flex-shrink: 0;
}

/* HEADER */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--CORNFLOWER);
  padding: 16px;
  height: auto;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--IRIS);
  margin-right: 76px;
  padding: 0;
}

.logo-studio-part {
  color: var(--NAVY-BLUE);
}

.page-menu {
  display: none;
}

.header-menu-opener {
  display: block;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
}

.header-menu-btn {
  margin: 0;
  padding: 0;
  border: none;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--WHITE);
  border: none;
  cursor: pointer;
}

.header-menu-icon {
}

.adress {
  display: none;
}

/* MOB-MENU */

.mob-menu {
  background-color: var(--WHITE);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 72px 16px 40px;
}

.menu-close-btn {
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--WHITE);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover {
  background-color: var(--OCEAN);
  border: none;
}

.menu-close-btn:focus {
  background-color: var(--OCEAN);
  border: none;
}

.mob-nav {
}
.mob-page-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-page-menu-list {
  position: relative;
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-page-menu-list:hover,
.mob-page-menu-list:active,
.mob-page-menu-list:focus {
  color: var(--OCEAN, #404bbf);
}

.mob-adress {
}
.mob-adress-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100%;
}

.mob-page-menu-contacts {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mob-page-menu-contacts:hover,
.mob-page-menu-contacts:active,
.mob-page-menu-contacts:focus {
  color: var(--OCEAN);
}

.menu-sm-list {
  display: flex;
  gap: 40px;
  padding-top: 48px;

  margin-bottom: 0;
}

.menu-sm-item {
  width: 40px;
  height: 40px;
}

.menu-sm-link {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-sm-link:hover,
.menu-sm-link:focus {
  background-color: var(--GREEN);
}

.menu-sm-icon {
  fill: var(--WHITE);
}

/* HERO SECTION */

.main-section-hero {
  background-image: linear-gradient(
      to bottom,
      var(--GREY, rgba(46, 47, 66, 0.7)),
      var(--GREY, rgba(46, 47, 66, 0.7))
    ),
    url(/images/hero-image-mob-1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section-container {
  padding: 72px 16px;
}

.slogan {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 160px;
  margin: 0 auto;
}

.order-servise-button {
  display: block;
  margin: auto;
  border: none;
  border-radius: 4px;
  background-color: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.03em;
  padding: 16px 32px;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-servise-button:active,
.order-servise-button:hover {
  background-color: var(--OCEAN);
}

/* ADVANTAGE SECTION */

.advantages-list {
  display: flex;
  gap: 72px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 96px 0;
}

.advantage-list-items {
  width: 100%;
}

.advantages-list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0;
  width: 100%;
}

.advantages-list-txt {
  margin: 8px 0 0 0;
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
}

.adv-icons-ithem {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* OUR TEAM */

.our-team-section {
  background-color: var(--CLOUD);
  padding: 96px 0;
}

.our-team-header {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 0;
}

.our-team-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
  margin: 0 auto;
}

.our-team-cards {
  background-color: var(--WHITE);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-cards-cotainer {
  padding: 32px 0;
}

.our-team-emloyer {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-team-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 0 8px 0;
  text-align: center;
}

.team-sm-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-sm-item {
  width: 40px;
  height: 40px;
}

.team-sm-link {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--IRIS);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-sm-link:hover,
.team-sm-link:focus {
  background-color: var(--OCEAN);
}

.team-icons {
  fill: var(--CLOUD);
}

/* PORTFOLIO */

.our-portfolio-section {
  padding: 96px 0;
}

.our-portfolio-header {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 0 72px;
}

.our-portfolio-header {
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
}

.portfolio-ithem {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-ithem:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.product-description {
  padding: 32px 0;
  border: 1px solid var(--CORNFLOWER);
  border-top: none;
  padding: 32px 16px;
}

.product-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-bottom: 8px;
  margin-top: 0;
}

.product-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
  margin: 0;
}

.port-img-wrapper {
  position: relative;
  overflow: hidden;
}

.pop-up-txt {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--CLOUD);
  padding: 40px 32px;
  background-color: var(--IRIS);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}

.portfolio-ithem:hover .pop-up-txt {
  transform: translateY(0%);
}

/* FOOTER */

.footer-section {
  background-color: var(--NAVY-BLUE);
}

.footer-wraper {
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.footer-txt-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.logo-foot {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--IRIS);
}

.logo-studio-part-foot {
  color: var(--CLOUD);
}

.footer-txt {
  line-height: 1.5;
  color: var(--CLOUD);
  letter-spacing: 0.02em;
}

.footer-sm-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--WHITE);
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}

.footer-sm-list {
  display: flex;
  gap: 16px;
}

.footer-sm-item {
  width: 40px;
  height: 40px;
}

.footer-sm-link {
  width: 100%;
  height: 100%;
  background-color: var(--IRIS);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sm-link:hover,
.footer-sm-link:focus {
  background-color: var(--GREEN);
}

.footer-sm-icon {
  fill: var(--WHITE);
}

.footer-form-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.footer-form-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--WHITE);
}

.footer-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.sbc-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--WHITE);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--WHITE);
  outline: transparent;
}

.sbc-input::placeholder {
  color: var(--LIGHT-SLATE);
}

.footer-form-btn {
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  cursor: pointer;
  background-color: var(--IRIS);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: var(--OCEAN);
}

.footer-btn-icon {
  margin-left: 16px;
}

/* MODAL */

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  padding: 8px 16px;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-order-service {
  width: 90%;
  padding: 72px 16px 24px;
  border-radius: 4px;
  background-color: var(--DAIRY);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrapper {
  margin-bottom: 8px;
}

.modal-close-btn {
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--CORNFLOWER);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: var(--OCEAN);
  border: none;
}

.modal-close-btn:focus {
  background-color: var(--OCEAN);
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon {
  fill: var(--WHITE);
}

.modal-close-btn:focus .modal-close-icon {
  fill: var(--WHITE);
}

.modal-order-header {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0 0 16px 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-input {
  font-size: 12px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
  color: var(--NAVY-BLUE);
}

.modal-input:focus-within {
  outline: none;
  border-color: var(--IRIS);
}

.modal-input::placeholder {
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--NAVY-BLUE);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within + .input-icon {
  fill: var(--IRIS);
}

.textarea-wrapper {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  font-size: 12px;
  padding: 8px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--NAVY-BLUE);
}

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.checkbox-wrap {
  margin-bottom: 24px;
}

.form-checkbox {
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
}

.fake-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.fake-box-icon {
}

.form-checkbox:checked + .checkbox-label .fake-box {
  background-color: var(--OCEAN);
  border: none;
  fill: var(--CLOUD);
}

.form-checkbox:focus + .checkbox-label .fake-box {
  border-color: var(--OCEAN);
}

.privacy-policy-link {
  color: var(--IRIS);
  text-decoration: underline;
}

.modal-order-btn {
  display: block;
  background: var(--IRIS);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--WHITE);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  align-items: flex-start;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-order-btn:active,
.modal-order-btn:hover,
.modal-order-btn:focus {
  background: var(--OCEAN);
}

.form-label {
  color: var(--LIGHT-SLATE);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

/* MEDIA */

/* RES */

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .main-section-hero {
    background-image: linear-gradient(
        to bottom,
        var(--GREY, rgba(46, 47, 66, 0.7)),
        var(--GREY, rgba(46, 47, 66, 0.7))
      ),
      url("/images/hero-image-mob-2x.jpg");
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-menu-opener {
    display: none;
  }

  .page-menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .page-menu-list {
    position: relative;
    text-decoration: none;
    color: var(--NAVY-BLUE);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-menu-list:hover,
  .page-menu-list:active,
  .page-menu-list:focus {
    color: var(--OCEAN, #404bbf);
  }

  .page-menu-list:hover:after {
    content: "";
    position: absolute;
    left: -1px;
    bottom: -28px;
    height: 4px;
    width: 100%;
    background-color: var(--OCEAN);
    border-radius: 2px;
  }

  .adress {
    display: flex;
  }

  .adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .page-menu-contacts {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-menu-contacts:hover,
  .page-menu-contacts:active,
  .page-menu-contacts:focus {
    color: var(--OCEAN);
  }

  .main-section-hero {
    background-image: linear-gradient(
        to bottom,
        var(--GREY, rgba(46, 47, 66, 0.7)),
        var(--GREY, rgba(46, 47, 66, 0.7))
      ),
      url("./images/hero-image-tab-1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section-hero {
      background-image: linear-gradient(
          to bottom,
          var(--GREY, rgba(46, 47, 66, 0.7)),
          var(--GREY, rgba(46, 47, 66, 0.7))
        ),
        url("./images/hero-image-tab-2x.jpg");
    }
  }

  .main-section-container {
    padding-top: 112px;
    padding-bottom: 112px;
    align-items: center;
  }

  .slogan {
    max-width: 44%;
  }

  .slogan:first-child {
    text-transform: none;
  }

  .order-servise-button {
    margin-top: 36px;
  }

  .advantages-list {
    gap: 72px 24px;
  }

  .advantage-list-items {
    width: calc((100% - 24px) / 2);
  }
  .advantages-list-title {
    text-align: left;
  }

  .our-team-list {
    gap: 64px 24px;
  }

  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-ithem {
    flex-basis: calc((100% - 24px) / 2);
  }

  .footer-wraper {
    gap: 24px;
    padding: 96px 108px;
    justify-content: flex-start;
    width: 100%;
  }

  .footer-txt-wrapper {
    flex-direction: column;
    width: calc((100% - 24px) / 2);
  }

  .footer-form-wrap {
    flex-direction: column;
  }

  .footer-form {
    gap: 24px;
  }

  .modal-order-service {
    width: 50%;
    padding: 72px 24px 24px;
  }
}

/* PC */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-section-hero {
    background-image: linear-gradient(
        to bottom,
        var(--GREY, rgba(46, 47, 66, 0.7)),
        var(--GREY, rgba(46, 47, 66, 0.7))
      ),
      url("/images/hero-image-pc-1x.jpg");
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section-hero {
      background-image: linear-gradient(
          to bottom,
          var(--GREY, rgba(46, 47, 66, 0.7)),
          var(--GREY, rgba(46, 47, 66, 0.7))
        ),
        url("/images/hero-image-pc-2x.jpg");
    }
  }

  .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .adress-list {
    flex-direction: row;
    gap: 40px;
  }

  .main-section-container {
    padding-top: 188px;
    padding-bottom: 188px;
    align-items: center;
  }

  .slogan {
    width: 33%;
  }

  .order-servise-button {
    margin-top: 48px;
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-list-title {
    font-size: 20px;
  }
  .adv-icons-ithem {
    position: relative;
    width: 100%;
    height: 112px;
    margin: 0 0 8px 0;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    white-space: normal;
    clip-path: none;
    clip: auto;
    overflow: visible;
    background-color: var(--CLOUD);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
  }
  .advantage-list-items {
    width: calc((100% - 72px) / 4);
  }

  .our-team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-portfolio-section {
    padding: 120px 0;
  }

  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-ithem {
    flex-basis: calc((100% - 48px) / 3);
  }

  .footer-wraper {
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: baseline;
    justify-content: space-around;
  }

  .footer-form-wrap {
    flex-wrap: nowrap;
  }

  .footer-txt-wrapper {
    max-width: 264px;
  }

  .footer-sm-link {
    align-items: center;
    justify-content: center;
  }

  .modal-order-service {
    width: 30%;
  }
}
